<div class="welcome">

    <h1>Can you write a better caption than this?</h1>

    <img class="welcome_image" src="<%= @image.image_url %>">

    <h3 class="welcome_caption">"<%= @caption_top.message %>"</h3>
    </br>
    <form action="/images/<%= @image.id %>" method="get">
      <button class="" type="submit">Check out other images and captions!</button>
    </form>
</div>

