<h1>Rules of the game:</h1>

<p>1. Login to publish an image or write a caption.</p>
<p>2. You can only write one caption per image.</p>
<p>3. You can only publish five images.</p>
<p>4. Upvote/downvote to make the cream rise to the top of the crop (you can only have one vote per caption).</p>
