<div class="rules_box teal_it">
  <h1 class = "center_text">Rules of the Game</h1>

  <p>1. Log in to publish an image or write a caption.</p>
  <p>2. You can only write one caption per image.</p>
  <p>3. You can only publish five images.</p>
  <p>4. Upvote/downvote to make the cream rise to the top of   the crop (you can only have one vote per caption).</p>

  <h1 class="center_text" style="border-top: solid teal 1px; padding-top: 30px; margin-top: 30px;">Some Things to Keep in Mind</h1>
  <p>1. You can sabotage other users' caption score by unpublishing images you own that have captions on them.... but you will be sabotaging your image score also.</p>
</div>
