body {
  margin: 0;
  color: black;
}

img {
  border: solid black 1px;
  width: 400px;
}

.welcome {
  margin: 0 auto;
  text-align: center;
}



/*nav bar styling */

nav {
  background-color: black;
  padding: 10px;
}

nav h1, h3 {
  margin: 0;
  padding: 0;
}

nav h3 {
  margin-top: 3px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: white;
}

.home_link {
  float: left;
}
.profile_link {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.profile_link1 {
  border-left: solid white 1px;
}


.welcome_image {
}

.welcome_button {
  float: right;
}

.welcome_caption {
  clear: both;
}

.image_all {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.center_text {
  text-align: center;
}

.show_table {
  border: solid black 1px;
  margin: 0 auto;
}

.show_table td {
  border: solid black 1px;
  padding: 5px;
}

.caption_input input{
  width: 400px;
  height: 50px;
}

.caption_input {
  border: solid black 1px;
  width: 405px;
  padding: 2px;
  margin-bottom: 20px;
}

.caption {
  border: solid black 1px;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.caption_wrap {
 word-wrap: break-word;
 width: 380px;
}

.caption_vote {
  border-top: solid black 1px;
  margin-top: 10px;
}

.caption_vote div {

width: 50px;
margin-right: 10px;
display: inline-block;
}

.image_box {
  border: solid black 1px;
  width: 420px;
  padding: 10px;
}

.caption_box {
  border: solid black 1px;
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.caption_box img {
  width: 100px;
}

.caption_box div {
  float: left;
}

.caption_des {
  margin-left: 20px;
  text-align: left;
  padding-top: 5px;
  word-wrap: break-word;
  width: 380px;
}

.caption_des p {
  margin-top: 0;
  margin-bottom: 5px;
}

.cap_act {
  margin: 32px 0 0 12px;
}

.image_list img {
  width: 100px;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}

.image_list_box {
  width: 475px;
  margin: 0 auto;
}

.login {
  text-align: center;
  border: solid black 1px;
  margin: 100px auto;
  width: 400px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


.footer {
  height: 200px;
  clear: both;
}
